:root{
    --color1:#00dbf3;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.box00{
    width: 550px;
    height: 1100px;
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}

.title1{
    height: 50px;
    background: black;
    color:white;
    text-align: left;
    margin: auto;
    padding: 15px;
    font-size: 16px;
}


input[type="text"]{
    height: 50px;
    width: 400px;
    font-size: 20px;
    border: 1.5px solid var(--color1);
    border-radius: 5px;
    margin: 5px;
    padding-left: 20px;
}

input[type="number"]{
    height: 50px;
    width: 400px;
    font-size: 20px;
    border: 1.5px solid var(--color1);
    border-radius: 5px;
    margin: 5px;
    padding-left: 20px;
}

input[type="email"]{
    height: 50px;
    width: 400px;
    font-size: 20px;
    border: 1.5px solid var(--color1);
    border-radius: 5px;
    margin: 5px;
    padding-left: 20px;
}

input[type="date"]{
    height: 50px;
    width: 400px;
    font-size: 20px;
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: 5px;
    padding-left: 20px;
}

input[type="tel"]{
    height: 50px;
    width: 400px;
    font-size: 20px;
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: 5px;
    padding-left:20px;
}

input[type="submit"]{
    color:white;
    background-color: var(--color1);
    height: 50px;
    width: 200px;
    cursor: pointer;
    border: 5px solid var(--color1);
    border-radius: 5px;
    margin: 5px;
}

input[type="reset"]{
    color: gray;
    background-color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}

.box01{
    border: 1.5px solid var(--color1);
    margin: 20px;
}
.title2{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    text-align: left;
    margin-left: 20px;
}

.box02{
    display: flex;
    justify-content:space-around;
    margin-left: -100px;
    padding-bottom: 30px;
}


