*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:red;
    --color2:blue;
    --color3:gray;
    --color4:white;
    --CelTam:calc(800px / 5);

}
h1{
    text-align: center;
}

.data{
    width: var(--CelTam);
    background-color: var(--color3);
    color: var(--color1);
    padding: 10px;
    border: 2px solid var(--color2);
    border-radius: 5px;
}


.box{
    width: calc(var(--CelTam) * 2);
    background-color: var(--color3);
    color: var(--color1);
    padding: 15px;
    border: 2px solid var(--color2);
    border-radius: 5px;
}