:root{
    --color1:#00dbf3;
    --color2:#2a2e43;
    --color3:white;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.box000{
    width: 450px;
    height: 700px;
    text-align: center;
    background-color: var(--color2);
    margin: auto;
    margin-top: 20px;
}

.box001{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;

}

.box002{
    width: 375px;
    height: 375px;
    background-color:var(--color3);
    border: 1px solid black;
    margin: auto;
    border-radius: 15px;
  
}

.title1{
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color:var(--color1);
}

.img1{
    width: 45px;;
    height: 45px;
    padding-top: 10px;
    padding-left:15px;
}

.title2{
    color: var(--color1);
    text-align: center;
    margin: auto;
    padding-top:20px;

}

input[type="submit"]{
    height: 40px;
    width: 200px;
    background-color: var(--color1);
    color: var(--color3);
    border: 5px solid var(--color1);
    border-radius: 10px;

}

.box003{
    padding-top: 100px;
    display: flex;
    justify-content: space-around; 
    margin: auto;
}

.early{
    margin: auto;
    background-color: var(--color2); 
    border: 1px ;
    font-size: 20px;
    color: var(--color1);
    padding-right: 75px;
}

.next{
    margin: auto;
    background-color: var(--color2); 
    border: 1px;
    font-size: 20px;
    color: var(--color1);
    padding-left: 75px;
}
.img2{
    margin: auto;
    height: 20px;
    width: 60px;
}
.img3{
    margin: auto;
    height: 20px;
    width: 60px;
}
