:root{
    --color1:#00dbf3;
    --color2:#2a2e43;
    --color3:white;
    --color4:#f6f6f6;
    --color5:#d8d8d8;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.box000{
    width: 450px;
    height: 700px;
    text-align: center;
    background-color: var(--color4);
    margin: auto;
    margin-top: 20px;
}

.box001{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color2);

}

.title0{
    text-align: left;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    color:var(--color5);
}

.next{
    margin: auto;
    background-color: var(--color2); 
    border: 1px;
    font-size: 20px;
    color: var(--color1);
    padding-left: 75px;
}

.box-image{
    width: 450px;
    height: auto;
    margin: auto;
}
.list-image{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
   padding-top: 5px;
}

li{
    margin: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}

img{
width: 77px;
height: 77px;;
}

.next{
    margin: auto;
    padding-bottom: 15px;
}
.img0{
    height: 30px;
    width: 30px;
    margin: auto;
    padding-bottom: 10px;
}