:root{
    --color1:#00dbf3;
    --color2:#2a2e43;
    --color3:white;
    --color4:#f6f6f6;
    --color5:#d8d8d8;
    --color6:#f6f6f6;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.box00{
    width: 490px;
    height: 1000px;
    background-color: var(--color6);
    margin: auto;
    margin-top: 20px;
}

.box01{
    display: flex;
    flex-direction: row;
    background-color: var(--color3);
    padding-top: 20px;
    border-bottom: none;
}

.title0{
    font-size:20px;
    font-weight: bold;
    text-align: left;
    color: black;
    padding-bottom: 15px;
    padding-left: 10px;
}

.img1{
    margin: 0 auto;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.img0{
    margin:0 auto;
    height: 20px;
    width: 60px;
    padding-top: 5px;
    padding-left: 35px;
}

table{
    margin: 0 auto;
    background-color:white;
}

th, td{
    border:none;
    height: 70px;
    width: 70px;
    text-align: center;
}

th, .other{
    font-weight: lighter;
    color: #a9a9a9;
}

td{
    font-weight: bolder;
}


.box02{
    display: flex;
    justify-content: center;
    background-color: white;
}
.sub-box1, .sub-box2{
    border: 1px solid black;
    height: 40px;
    width: 240px;
    text-align: center;
    padding-top: 5px;
}

.sub-box2{
    border-bottom: 5px solid rgba(123, 174, 225, 0.442);
}

.box03, .box04{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.sub-box3{
    height: 90px;
    width: 90px;
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
    border-left: 5px solid red;
    background-color: white;
}

.sub-box4{
    height: 90px;
    width: 360px;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}

.sub-box5{
    height: 90px;
    width: 90px;
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
    border-left: 5px solid limegreen;;
    background-color: white;
}

.sub-box6{
    height: 90px;
    width: 360px;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}

.img2, .img3{
    margin: 0 auto;
    height: 30px;
    width: 40px;
    padding-left: 15px;
    margin-left: 60px;
}
