:root{
    --color1:#00dbf3;
    --color2:#2a2e43;
    --color3:white;
    --color4:#f6f6f6;
    --color5:#d8d8d8;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.box000{
    width: 450px;
    height: 1050px;
    text-align: center;
    background-color: var(--color4);
    margin: auto;
    margin-top: 20px;
}

.box001{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: var(--color2);
    padding-top: 20px;
}

.title0{
    font-size: 15px;
    text-align: left;
    color: var(--color3);
    padding-bottom: 20px;
    padding-left: 20px;
}

.img0{
    height: 30px;
    width: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
}

input[type="text"]{
    height: 30px;
    width: 375px;
    padding-left: 10px;
}

.imagen{
    height: 25px;
    width: 25px;
    background-color: var(--color1);
    border: 20px;
}
.box002{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.txt{

    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

fieldset{
    border: 1px solid var(--color1);
    margin-left: 20px;
    margin-right: 20px;
}

h3{
    text-align: left;
    padding-bottom: 20px;
    padding-left: 20px;

}

input[type="radio"]{
    cursor: pointer;
}

input[type="reset"]{
    background-color: var(--color3);
    color:gray;
    height: 30px;
    width: 200px;
}

input[type="submit"]{
    background-color: var(--color1);
    color: var(--color3);
    height: 30px;
    width: 200px;
}

.radio{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 120px;
}


hr{
    margin-left: 20px;
    margin-right: 20px;
}
