:root{
    --color1:#00dbf3;
    --color2:#2a2e43;
    --color3:white;
    --color4:#f6f6f6;
    --color5:#d8d8d8;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background:gainsboro;
}
.box-000{
    height: 740px;
    width: 500px;
    background-color: gray;
    margin: auto;
}

.box-001{
    height: 70px;
    width: 500px;
    background-color: var(--color2);
    color:white;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-002{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 250px;

   
}

.title-000{
    font-size: 15px;
    padding-top: 15px;
    padding-left: 30px;
}

.img-000{
    height: 35px;
    width: 35px;
    padding-left: 15px;
    padding-top: 15px;

}
.img-001{
    margin: auto;
    padding-top: 10px;
    height: 700px;
    width: 500px;
}

p{
    color: var(--color4);
    margin: auto;
    font-size: 20px;
}

input[type="date"]{
    margin: auto;
    text-align: center;
    background-color: transparent;
    border: transparent;
    color: var(--color4);
    font-size: 35px;
    padding-top: 30px;

}

input[type="date"]:hover{
    cursor: pointer;
}

input[type="submit"]{
    margin:auto;
    text-align: center;
    color: var(--color3);
    background-color: var(--color5); 
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    width: 250px;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--color1);
}